.btn {
    display: inline-block;
    float: left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 20px;
    background-color: #0659B3;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 8px #555;
}
    .btn:hover {
        background-color: #1c6abd;
        box-shadow: 0 3px 10px #333;
    }