body {
    background-color: #3AB8DB;
}
    main {
        display: inline-block;
        width: 800px;
        margin-top: 60px;
        margin-left: calc(50% - 400px);
    }
        .left-column {
            display: inline-block;
            float: left;
            width: 40%;
            padding: 40px;
            background-color: #0659B3;
            margin-top: 20px;
        }
            h1 {}
            footer {}
                footer > a {}
                footer > span {}
        .right-column {
            display: inline-block;
            float: left;
            width: 60%;
            padding: 60px;
            background-color: #fff;
        }
            .close {}
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                }
                    .form-row + .form-row {
                        margin-top: 40px;
                    }
                    label {
                        display: inline-block;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 15px;
                        line-height: 15px;
                        font-weight: 700;
                        color: #777;
                    }
                    input {
                        display: inline-block;
                        width: 100%;
                        border: none;
                        font-size: 18px;
                        color: #000;
                        border-bottom: 1px solid #777;
                        line-height: 40px;
                    }
                    .btn {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        padding-left: 40px;
                        padding-right: 40px;
                        font-size: 20px;
                        line-height: 20px;
                        background-color: #0659B3;
                        color: #fff;
                        border-radius: 20px;
                    }
                    .form-row > span {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 20px;
                        margin-left: 10px;
                    }
                    .form-row > a {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 20px;
                    }